<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bloodthirst.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,159},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boomerang.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,265},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chain_lightning.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,371},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>crit_chain.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,424},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>crit_core.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,212},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>demon_pact.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,477},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>divine_shield.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,265},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>eagle_eye.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,159},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>elemental_legion.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,424},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>evade_counter.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,477},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>first_strike.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,212},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>flame_blade.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,318},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fortitude.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,159},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>frost_blade.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,318},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuwang_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,0},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_rush.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,265},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>grenade.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,318},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>homing_shot.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,265},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>huanci_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,53},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>huoqiang_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,0},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>iron_shell.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,212},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kill_echo.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,371},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lina_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,53},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mirror_image.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,424},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mituan_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,106},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>overload.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,212},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piercing_bolt.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,106},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>sentry_turret.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,424},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shadow_cut.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,371},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shangjin_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,0},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuijing_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,53},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>split_shot.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,106},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>static_field.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,371},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>swiftness.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,159},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>time_rewind.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{106,477},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>venom_blade.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,318},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>viper_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{0,106},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>war_banner.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,477},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhousi_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{159,0},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhuoer_skill.png</key>
<dict>
<key>spriteOffset</key>
<string>{-0.5,0.5}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{53,53},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>skills.png</string>
<key>textureFileName</key>
<string>skills.png</string>
<key>size</key>
<string>{212,532}</string>
</dict>
</dict>
</plist>
